.filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-top: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff; /* Fondo blanco para destacar */
}

.filter-clear-button {
  padding: 10px 16px;
  font-size: 14px;
  color: #1976d2;
  background-color: transparent;
  border: 1px solid #1976d2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 15px;
  align-self: center; /* Centra el botón de limpiar filtros */
}

.filter-clear-button:hover {
  background-color: #1976d2;
  color: white;
}
.no-arrow .MuiSelect-icon {
  display: none;
}

