.card-container {
  display: flex;
  justify-content: space-between;
}

.card-content {
  flex-grow: 1;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  margin-top: 8px;
}

.save-button {
  color: #ff4081; /* Cambia el color según tu preferencia */
}
